@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.cont-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contMoreGames {
  height: 10vh;
  @include flexJustifyCenter();
}

.nav {
  @include flexJustifyCenter();
}
